@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #4473d1;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.bg-secondary {
  background-color: #dedfe1;
}

.text-primary {
  color: var(--primary);
}
